.btn {
  --text-color: #3bc49a;
  background: #f3e8ff;
  color: var(--text-color);
  font-weight: 700;
  border-radius: 8px;
  font-size: 18px;
}

.btn:hover span small {
  color: var(--text-color);
}
